

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body, html {
margin:0px;
    padding: 0px;
	height:100%;
	min-height:600px;

}




.wrapper {
	background: #eeeeee;
		min-height: 100%;
   position:relative;
}

.top {
	width: 100%;
	background: orange;
}
.header {
	border-bottom: 1px solid gray;
	background: orange;
	color:#fff;
	height: 70px;
	
width: 1340px;
  z-index:1;
padding-top: 	10px;
	font-family: arial, sans-serif;
		margin-right: auto;
	margin-left: 	auto;


}



.left {
	float:left;
	font-size:35px;
	width:300px;
	height:59px;





}
.right {
float: right;
	width: 400px;

	

}
.right li {
	display:inline-block;
	

	margin-top:25px;
	width:80px;
	text-align: center;
	font-size: 16px;
	font-family: arial, sans-serif;

	}
.container {

	width: 	1340px;
	margin-left: auto;
	margin-right:auto;
	height: 	100%;
	background: #eeeeee;
}

 #clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.leftPane {
	float:left;
	width:200px;

	font-size: 20px;
	color:orange;
	text-align: 	right;
	padding:1em;
	background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(left,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to right,  #eeeeee 0%,#eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
	
}


.pic {
	float:left;
	height:270px;
	width:170px;
	margin-bottom: 5px;
}



.leftPane p {
	
	text-align: right;
	font-family: arial;
	font-size: 12px;
	margin:4px;

}
.main {
float:left;
margin-left: 10px;
padding: 1em;
margin-right: 10px;
width: 700px;

font-size: 16px;
font-family: arial, sans-serif;
min-height: 	100%;

}

.rightPane {
	padding: 1em;

	min-height: 	100%;
float:left;
width: 400px;


}
*,
*:before,
*:after {
   box-sizing: border-box;
}


form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 200px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}
.account-action .btn {
background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(left,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
background: linear-gradient(to right,  #ffaf4b 0%,#ff920a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 ); /* IE6-9 */

  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}
.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}

.footer {
		position: absolute;	
		height:30px;
		left:0px;
		bottom: 0px;
		width: 100%;
		background:#9fd8ef;
}
.contact {
	margin: 1px auto;

	width:500px;
	font-weight: 	300;
	text-align: left;
}